.mobile-nav {
  @apply grid grid-cols-5 divide-x divide-gray;
}

.mobile-nav > div {
  @apply relative flex-center py-4 text-gray-light;
}

.mobile-nav > div.active {
  @apply text-white;
}

.mobile-nav > div.active:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #D9D9D9;
}