.slider-container {
  @apply bg-landing-slider-bg bg-no-repeat bg-right-top lg:bg-right w-full py-14 text-white;
  @apply border-t border-b border-gray;
  min-height: 400px;
  position: relative;
}
.slider-container:before {
  @apply block absolute top-0 left-0 w-full h-full;
  background: linear-gradient(90deg, rgba(20, 20, 20, 1) 50%, rgba(0, 0, 0, 0) 100%);
  content: "";
}

.slider-container .slider-catchword {
  @apply relative text-green-light;
}
.slider-container .slider-catchword:before,
.slider-container .slider-catchword:after {
  @apply content-[""] absolute;
}
.slider-container .slider-catchword:before {
  @apply -bottom-1 left-0 w-full border-b border-green-light;
}
.slider-container .slider-catchword:after {
  @apply -bottom-3 left-0 w-full border-2 border-green-light;
}
