# dependencies
node_modules
src/contracts/thunder_exchange/deployCollection.ts
src/contracts/thunder_exchange/deploy.ts
src/contracts/erc721/mint.ts
src/contracts/erc721/balance.ts

# testing
coverage
coverage.json

# production
lib
dist
build
.fueldb
