.sidebar-container {
  @apply sticky;
  top: var(--headerHeight);
  height: calc(100vh - var(--headerHeight));
  min-height: 585px;
}

.profile-cover-image {
  @apply relative bg-gray;
  width: 410px;
  min-height: 410px;
  max-height: 410px;
  overflow: hidden;
  mask-image: linear-gradient(180deg, #141414 19.50%, rgba(25, 25, 25, 0.00) 74.06%);
}

.btn-edit {
  background: transparent;
  z-index: 1;
  @apply border-white px-4 py-3 absolute top-5 right-5 text-white;
}
