.sidebar-container {
  @apply sticky;
  top: var(--headerHeight);
  height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  min-height: 585px;
}

.profile-cover-image {
  @apply relative bg-gray transition-all w-full;
  min-height: 430px;
  max-height: 430px;
  overflow: hidden;
  mask-image: linear-gradient(180deg, #141414 20%, rgba(25, 25, 25, 0) 100%);
  background-origin: content-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-height: 768px) {
  .profile-cover-image {
    min-height: 300px;
    max-height: 300px;
  }
}

.btn-edit {
  background: transparent;
  z-index: 1;
  @apply border-white px-4 py-3 absolute top-5 right-5 text-white;
}
