.sidebar-container {
  @apply sticky;
  top: var(--headerHeight);
  height: calc(100vh - var(--headerHeight));
  min-height: 670px;
}

.profile-cover-image {
  @apply absolute top-0 left-0 pb-5 border-b border-gray bg-gray;
  width: 500px;
  min-height: 315px;
  max-height: 315px;
  overflow: hidden;
}

.profile-cover-image:after {
  @apply absolute bottom-0 left-0 w-full h-full;
  content: "";
  background: linear-gradient(180deg, rgb(20, 20, 20, 0.1) 0%, rgba(20, 20, 20, 0.5) 20%, rgba(20, 20, 20, 0.7) 30%, rgba(20, 20, 20, 0.8) 35%, rgba(20, 20, 20, 1) 65%);
}

.btn-edit {
  background: transparent;
  z-index: 1;
  @apply border-white px-4 py-3 absolute top-5 right-5 text-white;
}
