.allowlist-phase {
  @apply border border-white border-opacity-10 overflow-hidden rounded-md;
  @apply relative;
  top: -80px;
  z-index: 29;
}

.allowlist-phase .properties {
  @apply flex gap-5 flex-nowrap text-white;
}

.allowlist-phase .properties li {
  @apply flex-center gap-1 text-h6;
}

.allowlist-phase .properties li:before {
  content: "";
  background: currentColor;
  @apply block h-2.5 w-2.5 rounded-full;
}

.allowlist-phase .header {
  @apply flex flex-col;
  @apply bg-white bg-opacity-10 p-5 flex gap-2.5;
  @apply border-b border-b-white border-opacity-10;
}

.allowlist-phase .body {
  @apply flex flex-col gap-5 p-5;
}

.allowlist-phase .footer {
  @apply p-5;
}
