.beta-input {
  height: 84px;
  border-radius: 8px;
  padding: 11px 11px;
  text-align: center;
  color: white;

  @apply bg-bg border border-gray;
  @apply outline-none;
  @apply text-head3;
  @apply transition-all;
  @apply focus:bg-bg-light;
}

.beta-input.entered {
  @apply bg-gray;
}

.beta-input.error {
  border-color: red;
  background-color: transparent;
}
