.banner-container {
  @apply relative overflow-hidden px-10 -mx-10;
}

.banner-container .banner-image {
  width: 100%;
  mask-image: linear-gradient(0deg, rgba(25, 25, 25, 0) 0%, rgba(25, 25, 25, 0.615062) 33.69%, #191919 63.72%);
}

.banner-container .banner-wrapper {
  @apply w-full overflow-hidden;
  border-radius: 12px 12px 0 0;
}

.banner-container .banner-wrapper.animate {
  animation: scale 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -2s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes scale {
  to {
    transform: scale(1.1);
  }
}