.tooltip {
  @apply relative cursor-pointer;
}

.tooltip-content,
.tooltip .content {
  visibility: hidden;
  z-index: 9999;
  @apply opacity-0;
  @apply transform ease-in duration-75;
  @apply mt-1;
  @apply fixed top-full left-1/2 -translate-x-1/2;
  @apply text-bodySm font-spaceGrotesk text-white;
  @apply bg-bg-light border border-gray rounded-[5px];
  @apply whitespace-nowrap;
  @apply p-2.5;
}
.tooltip-content {
  @apply mt-0;
  transform: translate(-50%, -150%);
}

.tooltip-content .arrow,
.tooltip .content .arrow {
  content: "";
  height: 11px;
  width: 11px;
  @apply absolute top-0 left-1/2 -translate-y-1/2 -translate-x-1/2 rotate-45;
  @apply bg-bg-light border border-gray;
  z-index: 0;
}

.tooltip-content .arrow:after,
.tooltip .content .arrow:after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  top: -1px;
  left: -1px;
  border-color: transparent;
  @apply absolute;
  @apply border;
  @apply border-r-bg-light border-b-bg-light;
}

.tooltip.top .content {
  top: initial;
  margin-top: initial;
  @apply mb-1.5 -translate-y-[125%];
}

.tooltip.top .content .arrow {
  @apply top-full;
}

.tooltip.top .content .arrow:after {
  border-color: transparent;
  @apply border-l-bg-light border-t-bg-light;
}

.tooltip.bottom .content {
  top: initial;
  margin-top: initial;
  @apply top-full translate-y-2/3;
}

.tooltip.right .content {
  left: inherit;
  transform: none;
  @apply right-0;
}
