@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --headerHeight: 1px;
}

body {
  @apply bg-bg;
}

@layer utilities {
  .text-h1 {
    @apply text-head1 font-spaceGrotesk;
  }

  .text-h2 {
    @apply text-head2 font-spaceGrotesk;
  }

  .text-h3 {
    @apply text-head3 font-spaceGrotesk;
  }

  .text-h4 {
    @apply text-head4 font-spaceGrotesk;
  }

  .text-h5 {
    @apply text-head5 font-spaceGrotesk;
  }

  .text-h6 {
    @apply text-head6 font-spaceGrotesk;
  }

  .body-large {
    @apply text-bodyLg font-spaceGrotesk;
  }

  .body-medium {
    @apply text-bodyMd font-spaceGrotesk;
  }

  .body-small {
    @apply text-bodySm font-spaceGrotesk;
  }

  .text-headline-01 {
    @apply text-headlineSm font-bigShoulderDisplay;
  }

  .text-headline-02 {
    @apply text-headlineMd font-bigShoulderDisplay;
  }

  .bg-gradient-default-to-r {
    @apply bg-gradient-to-r to-gray-default;
  }

  .text-overflow {
    @apply whitespace-nowrap text-ellipsis overflow-hidden flex-1;
  }

  .text-overflow-3 {
    @apply text-ellipsis overflow-hidden flex-1;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .container-fluid {
    @apply w-full px-5 lg:px-10 3xl:m-auto 3xl:max-w-[1980px];
  }

  .container-nftdetails {
    @apply w-full 3xl:m-auto 3xl:max-w-[1980px] 3xl:border-x 3xl:border-gray;
  }

  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

  .button-animation {
    @apply transition-all hover:gap-6 hover:px-4;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
}

@layer components {
  .container-fluid {
    @apply w-full px-5 lg:px-10 3xl:m-auto 3xl:max-w-[1980px];
  }

  .btn {
    @apply flex gap-2 py-4 px-6 items-center justify-center;
    @apply text-button font-bigShoulderDisplay text-gray border bg-white rounded-md uppercase;
    @apply button-animation;
    @apply disabled:bg-gray disabled:cursor-default disabled:text-gray-light disabled:pointer-events-none disabled:border-none;
  }

  .btn.btn-secondary {
    @apply text-white bg-bg border-gray;
    @apply disabled:text-gray-light;
  }

  .btn.btn-secondary.no-bg {
    background-color: transparent;
  }

  .btn.no-bg {
    background-color: transparent;
  }

  .btn.btn-sm {
    @apply py-[11.5px] px-4;
    @apply text-headlineMd;
  }

  .btn-wallet {
    @apply flex gap-2.5 items-center;
    @apply px-5 py-2;
    @apply text-headlineMd font-bigShoulderDisplay text-white rounded-md;
    background-color: transparent;
    background-image: linear-gradient(90deg, transparent 0%, #252525 100%);
  }

  .btn-wallet:hover {
    background-image: linear-gradient(90deg, #252525 0%, transparent 100%);
  }

  .btn-icon {
    background: transparent;
    @apply p-0;
    @apply w-10 h-10 rounded-md flex-center;
    @apply transition-none hover:gap-0 hover:px-0;
    @apply border border-white border-opacity-10;
  }

  .input {
    background: transparent;
    @apply body-medium w-full outline-none text-white placeholder-gray-light;
    @apply h-12;
  }

  .input:focus {
    background: transparent;
  }

  .input-container:has(.input.input-filter-range:focus) {
    @apply bg-gray;
  }

  .header-btn {
    @apply p-[21px];
    @apply items-center justify-center;
    @apply text-headlineMd font-bigShoulderDisplay text-white;
  }

  .header-btn:hover {
    @apply bg-bg-light;
  }

  .title-gradient {
    @apply inline-flex gap-2.5 items-center uppercase;
    @apply px-5 py-2;
    @apply text-headlineMd font-bigShoulderDisplay text-white rounded-md;
    background-color: transparent;
    background-image: linear-gradient(90deg, transparent 0%, #252525 100%);
  }

  .title-gradient:hover {
    background-image: linear-gradient(90deg, #252525 0%, transparent 100%);
  }

  .tab {
    @apply w-full lg:w-auto;
    @apply flex items-center;
    @apply rounded-[4px];
    @apply border border-gray;
  }

  .tab li {
    @apply block flex-1 border-r border-r-gray last:border-r-0;
  }

  .tab li span {
    @apply block font-bigShoulderDisplay text-headlineMd cursor-pointer text-gray-light uppercase text-center;
    @apply px-5 py-[11.5px];
    @apply whitespace-nowrap;
  }

  .tab li.sm span {
    @apply py-2;
  }

  .tab li span:hover {
    @apply bg-bg-light;
  }

  .tab li span.active {
    @apply bg-white text-bg;
    @apply rounded-[4px];
  }

  .tab.secondary {
    @apply bg-none rounded-none;
    @apply border border-gray;
  }

  .tab.secondary li {
    @apply border-r border-gray  last:border-r-0;
  }

  .tab.secondary li span {
    @apply text-head6 font-spaceGrotesk text-gray-light normal-case;
    @apply rounded-none;
    @apply px-2 lg:px-7 py-6;
    @apply text-center;
    @apply tracking-normal;
  }

  .tab.secondary li span:hover {
    @apply text-white;
    background: transparent;
  }

  .tab.secondary li span.active {
    @apply bg-bg-light text-bg text-white relative;
    @apply after:content-[''] after:block after:absolute after:-bottom-[1px] after:left-0 after:right-0 after:border-b after:border-b-white;
  }

  .tab.icon {
    background: transparent;
    @apply inline-flex border border-gray rounded-sm;
  }

  .tab.icon.vertical {
    @apply block;
  }

  .tab.icon li {
    @apply border-l border-l-gray border-r-0 first:border-none text-gray-light;
  }

  .tab.icon li span {
    background: transparent;
    @apply p-2 text-gray-light rounded-none;
  }

  .tab.icon li span:hover {
    background: initial;
    @apply text-white;
  }

  .tab.icon li span.active {
    @apply text-bg bg-white rounded-sm after:hidden;
  }

  .tab.icon.link li span.active {
    background: initial;
    @apply text-gray-light;
  }

  .icon-btn {
    @apply p-2 border border-gray rounded-md cursor-pointer;
  }

  .tab.third {
    @apply bg-bg;
    @apply rounded-b-lg;
  }

  .tab.third li {
    @apply border-b border-gray w-full;
  }

  .tab.third li:last-child {
    @apply border-none;
  }

  .tab.third li span {
    @apply container text-head5 tracking-normal font-spaceGrotesk text-gray-light normal-case;
    @apply bg-bg;
    @apply py-6;
    @apply rounded-b-lg;
  }

  .tab.third li span.active {
    @apply bg-bg-light text-white relative;
    @apply rounded-none;
    @apply after:content-[''] after:block after:absolute after:left-0 after:top-0 after:h-full after:border-l after:border-l-white;
  }

  .tab.third li:last-child span.active {
    @apply bg-bg-light text-white relative;
    @apply rounded-b-lg;
    @apply after:content-[''] after:block after:absolute after:left-0 after:top-0 after:h-[calc(100%-5px)] after:border-l after:border-l-white;
  }

  .tab-button {
    @apply flex items-center text-center gap-x-0.5 px-2 pt-2.5 pb-3 rounded text-h6 text-bg bg-white;
  }

  .tab-button.secondary {
    margin: -1px 0;
    @apply text-white;
    @apply px-8 py-7;
    @apply bg-bg-light border border-gray border-b-white rounded-none;
  }

  .checkbox {
    @apply flex items-center cursor-pointer;
  }

  .checkbox > input[type="checkbox"] {
    @apply hidden;
  }

  .checkbox > span {
    @apply bg-gray w-4 h-4 rounded-sm;
  }

  .checkbox > input:checked + span {
    @apply bg-white;
  }

  .radio {
    @apply flex gap-2 items-center cursor-pointer;
  }

  .radio > input[type="radio"] {
    @apply hidden;
  }

  .radio > span {
    @apply bg-gray w-4 h-4 rounded-full;
  }

  .radio > input:checked + span {
    @apply bg-white;
  }

  .input-range__slider {
    @apply appearance-none bg-white rounded-full border-4 border-black;
    @apply cursor-pointer block h-2.5 w-2.5;
    @apply outline-none absolute top-1/2;
    margin-left: -9px;
    margin-top: -14px;
    box-sizing: content-box;
  }

  .input-range--disabled .input-range__slider {
    @apply bg-black border border-black shadow-none transform-none;
  }

  .input-range__track {
    @apply bg-gray rounded-md cursor-pointer;
    @apply block h-2.5 relative;
  }

  .input-range--disabled .input-range__track {
    @apply bg-black;
  }

  .input-range__track--background {
    @apply absolute left-0 right-0 top-0;
  }

  .input-range__track--active {
    @apply bg-white h-2.5 rounded-md;
  }

  .input-range {
    @apply relative w-full h-2.5;
  }

  .grid-skeleton {
    @apply relative overflow-hidden;
  }

  .grid-skeleton img {
    @apply relative;
    z-index: 2;
  }

  .grid-skeleton:after {
    @apply absolute top-0 right-0 bottom-0 left-0;
    border-radius: 5px;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(37, 37, 37, 0) 0, rgba(37, 37, 37, 0.2) 20%, rgba(37, 37, 37, 0.5) 60%, rgba(37, 37, 37, 0));
    animation: shimmer 2s infinite;
    content: "";
    z-index: 3;
  }

  .table-row-skeleton {
    @apply relative overflow-hidden;
  }

  .table-row-skeleton img {
    @apply relative;
    z-index: 2;
  }

  .table-row-skeleton:after {
    @apply absolute top-0 right-0 bottom-0 left-0;
    border-radius: 5px;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(37, 37, 37, 0) 0, rgba(37, 37, 37, 0.2) 20%, rgba(37, 37, 37, 0.5) 60%, rgba(37, 37, 37, 0));
    animation: shimmer 2s infinite;
    content: "";
    z-index: 3;
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }

  .toast {
    background: #252525 !important;
  }

  .toast-process {
    top: 0;
    background: white !important;
    height: 2px !important;
  }
}

.Toastify__toast-container {
  width: 560px !important;
}


:root {
  --th-white: 255 255 255;
  --th-black: 0 0 0;
  --th-bg-light: 26 26 26;
  --th-bg-dark: 30 30 30;
  --th-bg: 20 20 20;
  --th-gray-light: 131 131 131;
  --th-gray-dark: 73 70 80;
  --th-gray-100: 46 46 46;
  --th-gray: 37 37 37;
  --th-green-light: 1 255 200;
  --th-green: 214 255 126;
  --th-red: 230 64 64;
  --th-orange: 230 144 64;
}

.drop #layout-header {
  --th-gray: 255 255 255;
}

.drop #layout-header .border-gray,
.drop #layout-header .lg\:border-gray,
.drop #layout-header .divide-gray > :not([hidden]) ~ :not([hidden]),
.drop #layout-header .tab,
.drop #layout-header .tab li,
.drop #layout-header .border-y.border-gray {
  --tw-border-opacity: 0.1;
  --tw-divide-opacity: 0.1;
}

.drop #layout-header .tab li span:hover {
  --tw-bg-opacity: 0.1;
  background-color: rgb(var(--th-white) / var(--tw-bg-opacity));
}

.drop #layout-header .search-result-container .search-group-item:hover {
  --tw-bg-opacity: 0.1;
}

.drop .cart.modalbase .modal {
  --th-gray: 255 255 255;
}

.drop .modalbase .modal .mhead,
.drop .modalbase .border-b,
.drop .modalbase .border-t,
.drop .modalbase .border-gray {
  --tw-border-opacity: 0.1;
}

.drop .modalbase .bg-gray {
  --tw-bg-opacity: 0.1;
}

.drop .search-group-title {
  --tw-text-opacity: 0.5;
}

.drop .search-group-item {
  --tw-bg-opacity: 0.1;
}

.drop-item-container.drop-primary,
.drop.drop-primary {
  --th-bg: 122 52 155;
  --th-bg-light: 122 52 155;
  --th-gray-dark: 122 52 155;
  --th-gray-light: 255 255 255;
}

.drop.drop-primary #layout-header .group.relative div {
  --th-gray: 122 52 155;
}

.drop-item-container.drop-secondary,
.drop.drop-secondary {
  --th-bg: 39 59 66;
  --th-bg-light: 39 59 66;
  --th-gray-dark: 48 57 63;
  --th-gray-light: 255 255 255;
}

.drop.drop-secondary #layout-header .group.relative div {
  --th-gray: 39 59 66;
}

.drop-item-container.drop-blue,
.drop.drop-blue {
  --th-bg: 0 112 207;
  --th-bg-light: 0 112 207;
  --th-gray-dark: 48 57 63;
  --th-gray-light: 255 255 255;
}

.drop.drop-blue #layout-header .group.relative div {
  --th-gray: 0 112 207;
}


.drop-item-container.drop-gray-light,
.drop.drop-gray-light {
  --th-bg: 65 65 65;
  --th-bg-light: 65 65 65;
  --th-gray-dark: 48 57 63;
  --th-gray-light: 255 255 255;
}

.drop.drop-gray-light #layout-header .group.relative div {
  --th-gray: 65 65 65;
}

.drop-item-container.drop-gray,
.drop.drop-gray {
  --th-bg: 37 37 37;
  --th-bg-light: 37 37 37;
  --th-gray-dark: 48 57 63;
  --th-gray-light: 255 255 255;
}

.drop.drop-gray #layout-header .group.relative div {
  --th-gray: 37 37 37;
}

.drop-item-container.drop-police-blue,
.drop.drop-police-blue {
  --th-bg: 62 72 99;
  --th-bg-light: 62 72 99;
  --th-gray-dark: 48 57 63;
  --th-gray-light: 255 255 255;
}

.drop.drop-police-blue #layout-header .group.relative div {
  --th-gray: 62 72 99;
}

.drop-item-container.drop-thunder,
.drop.drop-thunder {
  --th-bg: 75 75 75;
  --th-bg-light: 75 75 75;
  --th-gray-dark: 48 57 63;
  --th-gray-light: 255 255 255;
}

.drop.drop-thunder #layout-header .group.relative div {
  --th-gray: 75 75 75;
}
