@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-h1 {
    @apply text-head1 font-spaceGrotesk;
  }
  .text-h2 {
    @apply text-head2 font-spaceGrotesk;
  }
  .text-h3 {
    @apply text-head3 font-spaceGrotesk;
  }
  .text-h4 {
    @apply text-head4 font-spaceGrotesk;
  }
  .text-h5 {
    @apply text-head5 font-spaceGrotesk;
  }
  .text-h6 {
    @apply text-head6 font-spaceGrotesk;
  }

  .body-large {
    @apply text-bodyLg font-spaceGrotesk;
  }
  .body-medium {
    @apply text-bodyMd font-spaceGrotesk;
  }
  .body-small {
    @apply text-bodySm font-spaceGrotesk;
  }

  .text-headline-01 {
    @apply text-headlineSm font-bigShoulderDisplay;
  }
  .text-headline-02 {
    @apply text-headlineMd font-bigShoulderDisplay;
  }

  .bg-gradient-default-to-r {
    @apply bg-gradient-to-r to-gray-default;
  }

  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
@layer components {
  .btn {
    @apply flex gap-2 p-4 items-center justify-center;
    @apply text-button font-bigShoulderDisplay text-gray border bg-white rounded-md uppercase;
  }
  .btn.btn-secondary {
    @apply text-white bg-bg border-gray;
  }
  .btn.btn-secondary:hover {
    @apply bg-gray-light;
  }

  .btn.btn-sm {
    @apply py-3 px-5;
    @apply text-headlineMd;
  }

  .btn-wallet {
    @apply flex gap-2.5 items-center;
    @apply px-5 py-2;
    @apply text-headlineMd font-bigShoulderDisplay text-white rounded-md;
    background-color: transparent;
    background-image: linear-gradient(90deg, transparent 0%, #252525 100%);
  }
  .btn-wallet:hover {
    background-image: linear-gradient(90deg, #252525 0%, transparent 100%);
  }

  .header-btn {
    @apply p-6;
    @apply text-headlineMd font-bigShoulderDisplay text-white;
  }
  .header-btn:hover {
    @apply bg-gray;
  }

  .title-gradient {
    @apply inline-flex gap-2.5 items-center uppercase;
    @apply px-5 py-2;
    @apply text-headlineMd font-bigShoulderDisplay text-white rounded-md;
    background-color: transparent;
    background-image: linear-gradient(90deg, transparent 0%, #252525 100%);
  }
  .title-gradient:hover {
    background-image: linear-gradient(90deg, #252525 0%, transparent 100%);
  }

  .tab {
    @apply w-full lg:w-auto;
    @apply flex items-center;
    @apply bg-gray rounded-sm;
  }
  .tab li {
    @apply block flex-1;
  }
  .tab li span {
    @apply block font-bigShoulderDisplay text-headlineMd cursor-pointer text-white uppercase;
    @apply bg-gray;
    @apply px-3 py-2;
    @apply rounded-[4px];
  }
  .tab li span:hover {
    @apply bg-bg;
  }
  .tab li span.active {
    @apply bg-white text-bg;
  }

  .tab.secondary {
    @apply bg-none rounded-none;
  }
  .tab.secondary li {
    @apply border-r border-gray flex-1;
  }
  .tab.secondary li:first-child {
    @apply border-l border-gray;
  }
  .tab.secondary li span {
    @apply font-spaceGrotesk text-head5 text-gray-light normal-case;
    @apply rounded-none bg-bg-light;
    @apply px-2 lg:px-7 py-6;
    @apply text-center;
  }
  .tab.secondary li span.active {
    @apply bg-bg-light text-bg text-white relative;
    @apply after:content-[''] after:block after:absolute after:-bottom-[1px] after:left-0 after:right-0 after:border-b after:border-b-white;
  }

  .tab.icon {
    background: transparent;
    @apply inline-flex border border-gray rounded-sm;
  }
  .tab.icon li {
    @apply border-l border-l-gray first:border-none text-gray-light;
  }
  .tab.icon li span {
    background: transparent;
    @apply p-2 text-gray-light rounded-none;
  }
  .tab.icon li span:hover {
    background: initial;
    @apply text-white;
  }
  .tab.icon li span.active {
    @apply text-bg bg-white rounded-sm after:hidden;
  }
  .tab.icon.link li span.active {
    background: initial;
    @apply text-gray-light;
  }

  .icon-btn {
    @apply p-3 border border-gray rounded-md cursor-pointer;
  }

  .tab.third {
    @apply bg-bg;
    @apply rounded-b-lg;
  }
  .tab.third li {
    @apply border-b border-gray w-full;
  }
  .tab.third li:last-child {
    @apply border-none;
  }
  .tab.third li span {
    @apply container text-head5 tracking-normal font-spaceGrotesk text-gray-light normal-case;
    @apply bg-bg;
    @apply py-6;
    @apply rounded-b-lg;
  }

  .tab.third li span.active {
    @apply bg-bg-light text-white relative;
    @apply rounded-none;
    @apply after:content-[''] after:block after:absolute after:left-0 after:top-0 after:h-full after:border-l after:border-l-white;
  }
  .tab.third li:last-child span.active {
    @apply bg-bg-light text-white relative;
    @apply rounded-b-lg;
    @apply after:content-[''] after:block after:absolute after:left-0 after:top-0 after:h-[calc(100%-5px)] after:border-l after:border-l-white;
  }
}
